{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>COGNITIVE DEVOPS</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/base/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon-3.png' %}"/>
    <style>
        .user-activity .media {
    position: relative;
    padding-bottom: 20px;
    margin-left: 20px;
}

.user-activity .media .media-img-wrap {
    position: absolute;
    left: -20px;
}

.user-activity .media:after {
    content: "";
    position: absolute;
    width: 1px;
    height: calc(100% - 77px);
    background: #eaecec;
    top: 60px;
}

.user-activity .media .media-body {
    border-bottom: 1px solid #eaecec;
    padding-bottom: 30px;
    margin-left: 40px;
    min-width: 0;
}

.user-activity .media:last-child .media-body {
    border-bottom: none;
}

.user-activity.user-activity-sm .media {
    padding-bottom: 10px;
    margin-left: 16px;
}

.avatar-group {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.mt-10 {
    margin-top: 10px !important;
}
.avatar-group.avatar-group-sm.avatar-group-overlapped .avatar {
    margin-right: -10px;
}
.avatar-group.avatar-group-sm .avatar {
    font-size: .6rem;
    width: 2rem;
    height: 2rem;
}
.avatar-group.avatar-group-overlapped .avatar {
    margin-right: -13px;
}
@media (min-width: 576px){
    .w-sm-150p {
        width: 150px !important;
    }
}
.w-80p {
    width: 80px !important;
}
.mr-10 {
    margin-right: 10px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.user-activity.user-activity-sm .media .media-img-wrap {
    left: -16px;
}

.user-activity.user-activity-sm .media:after {
    height: calc(100% - 47px);
    top: 40px;
}

.user-activity.user-activity-sm .media .media-body {
    padding-bottom: 10px;
    margin-left: 30px;
}

@media (max-width: 576px) {
    .user-activity .media .media-body {
        margin-left: 35px;
    }
}

.user-activity .media .media-img-wrap {
    position: absolute;
    left: -20px;
}
.avatar.avatar-sm {
    font-size: .9rem;
    width: 2.625rem;
    height: 2.625rem;
}
.avatar {
    font-size: 1rem;
    position: relative;
    display: inline-block;
    width: 3.875rem;
    height: 3.875rem;
}
.avatar .avatar-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.card {
    border: none;
    box-shadow: none;
    margin-bottom: 20px;
}
@media (min-width: 576px){
    .w-sm-360p {
        width: 360px !important;
    }
}
.font-weight-500 {
    font-weight: 500 !important;
}

.text-dark {
    color: #324148 !important;
}
.card.card-lg .card-header, .card.card-lg .card-footer {
    padding: .9rem 1.5rem;
}

.card .card-header {
    background: transparent;
    border: none;
}
.card.card-lg .card-header, .card.card-lg .card-footer {
    padding: .9rem 1.5rem;
}
.card .card-footer {
    background: transparent;
    border-color: #eaecec;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
    </style>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex justify-content-center">
            <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                <a class="navbar-brand brand-logo" href="index.html"><img src="{% static 'images/Cog1.png' %}"
                                                                          alt="logo"/></a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'images/heart.png' %}"
                                                                               alt="logo"/></a>
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-sort-variant"></span>
                </button>
            </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <ul class="navbar-nav mr-lg-4 w-100">
                <li class="nav-item nav-search d-none d-lg-block w-100">
                    <div class="input-group">
                        <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="mdi mdi-magnify"></i>
                </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search now" aria-label="search"
                               aria-describedby="search">
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                        <img src="{% static 'images/user.png' %}" alt="profile"/>
                        <span class="nav-profile-name">{{ name }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="{% url 'logoutUser' %}">
                            <i class="mdi mdi-logout text-primary"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">DASHBOARD</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'vqa' %}">
                        <i class="mdi mdi-camera-enhance menu-icon"></i>
                        <span class="menu-title">VisuAsk</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'bmi_calculator' %}">
                        <i class="mdi mdi-calculator-variant menu-icon"></i>
                        <span class="menu-title">BMI CALCULATOR</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog' %}">
                        <i class="mdi mdi-all-inclusive menu-icon"></i>
                        <span class="menu-title">REFERENCE BOLG</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'consultant' %}">
                        <i class="mdi mdi-account-multiple menu-icon"></i>
                        <span class="menu-title">CONSULTANT</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blooddonation' %}">
                        <i class="mdi mdi-water menu-icon"></i>
                        <span class="menu-title">HEMO CONNECT</span>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">

<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="card card-lg">
                <h6 class="card-header">
                    Medical Tips for This Week
                </h6>
                <div class="card-body">
                    <div class="user-activity">
                        <!-- Blog Post 1 -->
                        <div class="media">
                            <div class="media-img-wrap">
                                <div class="avatar avatar-sm">
                                    <img src="{% static 'images/admins/praveen.jpg' %}" alt="user" class="avatar-img rounded-circle" />
                                </div>
                            </div>
                            <div class="media-body">
                                <div>
                                    <span class="d-block mb-5"><span class="font-weight-500 text-dark text-capitalize">Dr. Praveen</span><span class="pl-5">shares tips for a healthy heart.</span></span>
                                    <span class="d-block font-13 mb-30">3 hours ago</span>
                                </div>
                                <div class="card d-inline-block w-sm-360p">
                                    <div class="card-body">
                                        <div class="d-flex flex-wrap">
                                            <img class="d-86 rounded mb-15 mr-15" src = "{% static 'images/dashboard_image.jpg' %}" alt="thumb" />
                                            <div class="w-65">
                                                <h6 class="mb-5">Healthy Heart Tips</h6>
                                                <p>Learn how to keep your heart healthy with these valuable tips.</p>
                                                <div class="avatar-group avatar-group-sm avatar-group-overlapped mt-10">
                                                    <div class="avatar">
                                                        <img src="{% static 'images/admins/praveen.jpg' %}" alt="user" class="avatar-img rounded-circle" />
                                                    </div>
                                                    <div class="avatar">
                                                        <img src="{% static 'images/admins/jaswanth.jpg' %}" alt="user" class="avatar-img rounded-circle" />
                                                    </div>
                                                    <div class="avatar">
                                                        <img src="{% static 'images/admins/sridhar.jpeg' %}" alt="user" class="avatar-img rounded-circle" />
                                                    </div>
                                                    <div class="avatar">
                                                        <img src="{% static 'images/admins/praveen.jpg' %}" alt="user" class="avatar-img rounded-circle" />
                                                    </div>
                                                    <div class="avatar">
                                                        <span class="avatar-text avatar-text-green rounded-circle">
                                                            <span class="initial-wrap"><span>87+</span></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer text-muted justify-content-between">
                                        <div><span class="text-dark">1,200</span> Readers</div>
                                        <button class="btn btn-xs btn-primary ml-15 w-sm-100p">Read More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Blog Post 2 -->
                        <div class="media">
                            <div class="media-img-wrap">
                                <div class="avatar avatar-sm">
                                    <img src="{% static 'images/admins/jaswanth1.png' %}" alt="user" class="avatar-img rounded-circle" />
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="d-flex align-items-start">
                                    <div>
                                        <span class="d-block mb-5"><span class="font-weight-500 text-dark text-capitalize">Dr. Jaswanth MBBS</span><span class="pl-5">provides advice on a balanced diet.</span></span>
                                        <span class="d-block font-13 mb-30">6 hours ago</span>
                                    </div>
                                    <button class="btn btn-sm btn-primary ml-auto">Follow</button>
                                </div>
                                <div class="d-flex flex-wrap">
                                    <!-- Place your images or tips content here -->
                                </div>
                            </div>
                        </div>
                        <!-- Blog Post 3 -->
                        <div class="media">
                            <div class="media-img-wrap">
                                <div class="avatar avatar-sm">
                                    <img src="{% static 'images/admins/sridhar.jpeg' %}" alt="user" class="avatar-img rounded-circle" />
                                </div>
                            </div>
                            <div class="media-body">
                                <div>
                                    <span class="d-block mb-5">
                                        <span class="font-weight-500 text-dark text-capitalize">Dr. Sridhar FRCS</span>
                                        <span class="pl-5">provides insights on mental health.</span>
                                    </span>
                                    <span class="d-block font-13">1 day ago</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-lg">
                <h6 class="card-header">
                    Medical Tips for This Month
                </h6>
                <div class="card-body">
    <div class="user-activity">
        <!-- Blog Post 4 -->
        <div class="media pb-0">
            <div class="media-img-wrap">
                <div class="avatar avatar-sm">
                    <img src="{% static 'images/admins/sridhar.jpeg' %}" alt="user" class="avatar-img rounded-circle" />
                </div>
            </div>
            <div class="media-body">
                <div>
                    <span class="d-block mb-5">
                        <span class="font-weight-500 text-dark text-capitalize">Dr. Sridhar</span><span class="pl-5">shares his journey as a medical professional.</span>
                        <p class="d-block word-break mt-5">Dr. Morgan Freeman, a renowned surgeon with over 20 years of experience, opens up about the challenges and rewards of working in the medical field. He discusses the latest advancements in surgical techniques and how technology is shaping the future of healthcare.</p>
                    </span>
                    <span class="d-block font-13">32 days ago</span>
                </div>
            </div>
        </div>
        <!-- Blog Post 5 -->
        <div class="media pb-0">
            <div class="media-img-wrap">
                <div class="avatar avatar-sm">
                    <img src="{% static 'images/admins/praveen.jpg' %}" alt="user" class="avatar-img rounded-circle" />
                </div>
            </div>
            <div class="media-body">
                <div>
                    <span class="d-block mb-5">
                        <span class="font-weight-500 text-dark text-capitalize">Dr. Praveen</span><span class="pl-5">shares her passion for medical research.</span>
                        <p class="d-block word-break mt-5">Dr. praveen, a dedicated medical researcher, talks about her journey in unraveling the mysteries of rare diseases. She emphasizes the importance of research collaborations and how scientific breakthroughs can change lives.</p>
                    </span>
                    <span class="d-block font-13">25 days ago</span>
                </div>
            </div>
        </div>
        <!-- Blog Post 6 -->
        <div class="media pb-0">
            <div class="media-img-wrap">
                <div class="avatar avatar-sm">
                    <img src="{% static 'images/admins/jaswanth1.png' %}" alt="user" class="avatar-img rounded-circle" />
                </div>
            </div>
            <div class="media-body">
                <div>
                    <span class="d-block mb-5">
                        <span class="font-weight-500 text-dark text-capitalize">Dr. Jaswanth</span><span class="pl-5">discusses the importance of mental health in the medical field.</span>
                        <p class="d-block word-break mt-5">Dr. Jaswanth, a psychiatrist, sheds light on the mental health challenges faced by medical professionals. She advocates for self-care and the need to prioritize mental well-being in the demanding field of medicine.</p>
                    </span>
                    <span class="d-block font-13">18 days ago</span>
                </div>
            </div>
        </div>
        <!-- Add more blog posts here -->
    </div>
</div>

                <div class="card-body">
                    <div class="user-activity">
                        <!-- Blog Post 4 -->
                        <div class="media pb-0">
                            <div class="media-img-wrap">
                                <div class="avatar avatar-sm">
                                    <img src="{% static 'images/admins/jaswanth.jpg' %}" alt="user" class="avatar-img rounded-circle" />
                                </div>
                            </div>

                            <div class="media-body">
                                <div>
                                    <span class="d-block mb-5">
                                        <span class="font-weight-500 text-dark text-capitalize">Dr. Jaswanth MBBS</span><span class="pl-5">shares his journey as a medical professional.</span>
                                    </span>
                                    <span class="d-block font-13">32 days ago</span>
                                </div>
                            </div>
                        </div>
                        <!-- Add more blog posts for this month -->
                        <!-- Blog Post 7 -->
<div class="media pb-0">
    <div class="media-img-wrap">
        <div class="avatar avatar-sm">
            <img src="{% static 'images/admins/praveen.jpg' %}" alt="user" class="avatar-img rounded-circle" />
        </div>
    </div>
    <div class="media-body">
        <div>
            <span class="d-block mb-5">
                <span class="font-weight-500 text-dark text-capitalize">Dr. Praveen S</span><span class="pl-5">shares his adventures on a cross-country biking trip.</span>
                <p class="d-block word-break mt-5">Follow Praveen S as he embarks on a thrilling cross-country biking expedition. He recounts the breathtaking landscapes, challenges, and unforgettable memories during his cycling journey from coast to coast.</p>
            </span>
            <span class="d-block font-13">14 days ago</span>
        </div>
    </div>
</div>

<!-- Blog Post 8 -->
<div class="media pb-0">
    <div class="media-img-wrap">
        <div class="avatar avatar-sm">
            <img src="{% static 'images/admins/jaswanth.jpg' %}" alt="user" class="avatar-img rounded-circle" />
        </div>
    </div>
    <div class="media-body">
        <div>
            <span class="d-block mb-5">
                <span class="font-weight-500 text-dark text-capitalize">Dr. Jaswanth MBBS FRCS</span><span class="pl-5">discusses the health benefits of biking for all ages.</span>
                <p class="d-block word-break mt-5">Discover the numerous health benefits of biking for people of all ages. Michelle Adams, a fitness enthusiast, shares insights on how biking can improve cardiovascular health, strengthen muscles, and boost overall well-being.</p>
            </span>
            <span class="d-block font-13">10 days ago</span>
        </div>
    </div>
</div>

<!-- Blog Post 9 -->
<div class="media pb-0">
    <div class="media-img-wrap">
        <div class="avatar avatar-sm">
            <img src="{% static 'images/admins/sridhar.jpeg' %}" alt="user" class="avatar-img rounded-circle" />
        </div>
    </div>
    <div class="media-body">
        <div>
            <span class="d-block mb-5">
                <span class="font-weight-500 text-dark text-capitalize">Dr. Sridhar V</span><span class="pl-5">Essential tips for keeping your bike in top shape.</span>
                <p class="d-block word-break mt-5">Learn the basics of bike maintenance to ensure your cycling adventures are smooth and trouble-free. From tire care to chain lubrication, this blog post provides essential tips for keeping your bike in top shape.</p>
            </span>
            <span class="d-block font-13">7 days ago</span>
        </div>
    </div>
</div>

<!-- Blog Post 10 -->
<div class="media pb-0">
    <div class="media-img-wrap">
        <div class="avatar avatar-sm">
            <img src="{% static 'images/admins/praveen.jpg' %}" alt="user" class="avatar-img rounded-circle" />
        </div>
    </div>
    <div class="media-body">
        <div>
            <span class="d-block mb-5">
                <span class="font-weight-500 text-dark text-capitalize">Dr. Praveen S</span><span class="pl-5">Conquer the trails with thrilling mountain biking experiences.</span>
                <p class="d-block word-break mt-5">Join a group of passionate mountain bikers as they share their thrilling experiences conquering challenging trails and breathtaking terrains. This blog post is filled with adrenaline-packed stories and tips for mountain biking enthusiasts.</p>
            </span>
            <span class="d-block font-13">5 days ago</span>
        </div>
    </div>
</div>

<!-- Blog Post 11 -->
<div class="media pb-0">
    <div class="media-img-wrap">
        <div class="avatar avatar-sm">
            <img src="{% static 'images/admins/sridhar.jpeg' %}" alt="user" class="avatar-img rounded-circle" />
        </div>
    </div>
    <div class="media-body">
        <div>
            <span class="d-block mb-5">
                <span class="font-weight-500 text-dark text-capitalize">Dr. Sridhar FRCS</span><span class="pl-5">Exploring urban landscapes on two wheels.</span>
                <p class="d-block word-break mt-5">Discover the joys of cycling in the city as we delve into the unique experiences and sights you can encounter on urban bike routes. From vibrant street art to hidden gems, this blog post is all about exploring cityscapes on two wheels.</p>
            </span>
            <span class="d-block font-13">2 days ago</span>
        </div>
    </div>
</div>
                        <!-- Blog Post 12 -->
<div class="media pb-0">
    <div class="media-img-wrap">
        <div class="avatar avatar-sm">
            <img src="{% static 'images/admins/jaswanth.jpg' %}" alt="user" class="avatar-img rounded-circle" />
        </div>
    </div>
    <div class="media-body">
        <div>
            <span class="d-block mb-5">
                <span class="font-weight-500 text-dark text-capitalize">Dr. Jaswanth MBBS</span><span class="pl-5">Unveiling the dedication of nursing professionals.</span>
                <p class="d-block word-break mt-5">Explore the compassionate world of nursing through the eyes of seasoned nursing professionals. This blog post highlights the selfless dedication, challenges, and immense rewards that come with a career in nursing.</p>
            </span>
            <span class="d-block font-13">3 days ago</span>
        </div>
    </div>
</div>

<!-- Blog Post 13 -->
<div class="media pb-0">
    <div class="media-img-wrap">
        <div class="avatar avatar-sm">
            <img src="{% static 'images/admins/praveen.jpg' %}" alt="user" class="avatar-img rounded-circle" />
        </div>
    </div>
    <div class="media-body">
        <div>
            <span class="d-block mb-5">
                <span class="font-weight-500 text-dark text-capitalize">Dr. Praveen </span><span class="pl-5">The future of healthcare through technology.</span>
                <p class="d-block word-break mt-5">Dive into the world of cutting-edge medical technology and how it's transforming healthcare. This blog post explores revolutionary innovations, from AI-powered diagnostics to wearable health monitors.</p>
            </span>
            <span class="d-block font-13">1 day ago</span>
        </div>
    </div>
</div>

<!-- Blog Post 14 -->
<div class="media pb-0">
    <div class="media-img-wrap">
        <div class="avatar avatar-sm">
            <img src="{% static 'images/admins/sridhar.jpeg' %}" alt="user" class="avatar-img rounded-circle" />
        </div>
    </div>
    <div class="media-body">
        <div>
            <span class="d-block mb-5">
                <span class="font-weight-500 text-dark text-capitalize">Dr. Sridhar MBBS</span><span class="pl-5">Caring for the little ones with compassion.</span>
                <p class="d-block word-break mt-5">Discover the special world of pediatric care as healthcare providers share their heartwarming experiences with young patients. This blog post highlights the unique challenges and joys of providing medical care to children.</p>
            </span>
            <span class="d-block font-13">23 hours ago</span>
        </div>
    </div>
</div>

<!-- Blog Post 15 -->
<div class="media pb-0">
    <div class="media-img-wrap">
        <div class="avatar avatar-sm">
            <img src="{% static 'images/admins/praveen.jpg' %}" alt="user" class="avatar-img rounded-circle" />
        </div>
    </div>
    <div class="media-body">
        <div>
            <span class="d-block mb-5">
                <span class="font-weight-500 text-dark text-capitalize">Dr. Praveen</span><span class="pl-5">Navigating moral dilemmas in healthcare.</span>
                <p class="d-block word-break mt-5">Delve into the complex world of medical ethics and the ethical considerations faced by healthcare professionals. This blog post reflects on the delicate balance between providing optimal care and respecting individual values.</p>
            </span>
            <span class="d-block font-13">12 hours ago</span>
        </div>
    </div>
</div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

            <div class="content-wrapper" style="display: flex; flex-direction: column; align-items: center;">
                <h3>COMING SOON! OUR <b style="color: #1a5fff">COGNITIVE DEVOPS TEAM</b> IS WORKING ON THIS PAGE.
                    <br>
                    <div style="text-align: center">STAY TUNED FOR UPDATES!</div>
                </h3>
                <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
                    <img src="{% static 'images/heart12.png' %}" alt="under construction"
                         style="max-width: 80%; max-height: 100%;">
                </div>
                <h3 style="font-weight: bold;">EMPOWERING HEALTHCARE WITH COGNITIVE DEVOPS</h3>
            </div>
        </div>

        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="{% static 'vendors/base/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/data-table.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.js' %}"></script>
<!-- End custom js for this page-->
</body>

</html>