{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Cognitive Devops</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/base/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/favicon-3.png' %}" />
</head>

<body>
                <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                <div class="col-sm-12 ">
                            <div class="bg-light rounded h-100 p-4">
                                <br>
                                <h3 class="card-title" style="text-align: center;color: cyan">Register</h3>
                                <br>
                            <div  id="result_dis">

                                    {% if status == True %}
                                        <div  id="video_div">
                                     <img src="{% url 'video_feed' %}" id = "video_result" >
                                        </div>
                                    {% endif %}

                            <div style="margin: auto;">
                                {% if status != True %}
                                <form method="POST" action="{% url 'stop_streaming1' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary" >Start Recognition</button>
                                </form>
                                {% endif %}
                                {% if status == True %}
                                <form method="POST" action="{% url 'uncapture' %}">
                                    <h4 style="margin-left: 10px">Press Stop Recogntion When Video get message in image</h4>
                                    {% csrf_token %}
                                    <button class="btn  btn-rounded btn-fw" type="submit" style="margin-left: 10px;background-color: #85CDFD ; color:black">Stop Recognition</button>
                                </form>
                                {% endif %}
                            </div>
                            </div>
                        </div>
                </div>
            </div>
            </div>
              </form>
            </div>
          </div>

        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'vendors/base/vendor.bundle.base.js' %}"></script>
  <script>
         function videoClose() {
            var x = document.getElementById("video");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <!-- endinject -->
</body>

</html>
