{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>COGNITIVE DEVOPS</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/base/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon-3.png' %}"/>
    <style>
    .preloader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }

        .spinner {
            border: 5px solid #f3f3f3;
            border-top: 5px solid #25a9e1;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 2s linear infinite;
        }

        .loading-text {
            color: #25a9e1;
            font-size: 18px;
            margin-top: 10px;
            text-align: center;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }


    ul {
            list-style-type: disc;
            padding-left: 20px;
        }

        li {
            margin-bottom: 10px;
        }

    </style>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex justify-content-center">
            <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                <a class="navbar-brand brand-logo" href="index.html">
                    <img src="{% static 'images/Cog1.png' %}" alt="logo"/></a>
                <a class="navbar-brand brand-logo-mini" href="index.html">
                    <img src="{% static 'images/heart.png' %}" alt="logo"/></a>
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-sort-variant"></span>
                </button>
            </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <ul class="navbar-nav mr-lg-4 w-100">
                <li class="nav-item nav-search d-none d-lg-block w-100">
                    <div class="input-group">
                        <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="mdi mdi-magnify"></i>
                </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search now" aria-label="search"
                               aria-describedby="search">
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                        <img src="{% static 'images/user.png' %}" alt="profile"/>
                        <span class="nav-profile-name">{{ name }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="{% url 'logoutUser' %}">
                            <i class="mdi mdi-logout text-primary"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">DASHBOARD</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'vqa' %}">
                        <i class="mdi mdi-camera-enhance menu-icon"></i>
                        <span class="menu-title">VisuAsk</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'bmi_calculator' %}">
                        <i class="mdi mdi-calculator-variant menu-icon"></i>
                        <span class="menu-title">BMI CALCULATOR</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog' %}">
                        <i class="mdi mdi-all-inclusive menu-icon"></i>
                        <span class="menu-title">REFERENCE BOLG</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'consultant' %}">
                        <i class="mdi mdi-account-multiple menu-icon"></i>
                        <span class="menu-title">CONSULTANT</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blooddonation' %}">
                        <i class="mdi mdi-water menu-icon"></i>
                        <span class="menu-title">HEMO CONNECT</span>
                    </a>
                </li>
                <li class="nav-item">
                    <div class="text-center">
    <div id="google_translate_element"></div>
</div>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="col-12 grid-margin stretch-card">
                {% if answer %}
                    <div class="card">
                        <div class="card-body text-center">
                            {#            <h4 class="card-title" style="font-size: 24px;">Answer</h4>#}
                            <p class="card-description" style="font-size: 20px;">
                                {% if answer %}
                                    <strong style="color: black">Question:</strong><br> {{ question }}<br>
                                    <br>
                                    {#                    <strong>Image:</strong><br>#}
                                    <img src="{{ image_url }}" alt="Image" style="width: 25%; height: 50%;"><br>
                                    <br>
                                    <strong style="color: black">ANSWER: </strong><br> {{ answer }}<br>
                                    <br>
                                    {% if explanation != "No explanation available." %}
                                    <strong style="color: black">EXPLAINATION: </strong><br>

                                    {% for i in explanation %}
{#                                        <ul>#}
                                    <li>{{ i }}</li>
{#                                        </ul>#}
                                    {% endfor %}
                                        {% endif %}
                                {% else %}
                                    No answer available.
                                {% endif %}
                            </p>
                        </div>
                    <div style="display: flex; justify-content: center;">
        <a href="{% url 'vqa' %}" class="btn font-weight-medium auth-form-btn"
   style="background-color: #25a9e1; color: white; padding: 5px 10px; margin-bottom: 15px; width: 100px;">
    BACK
</a>
    </div>
                    </div>
                    {% else %}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center;font-size: xxx-large">VISUAL QUESTION AND
                                ANSWERING</h4>
                            <p class="card-description">
                                <br>
                            </p>
                            <form class="forms-sample" method="post" action="{% url 'vqa' %}" id="vqa"
                                  enctype="multipart/form-data" onsubmit="openPreloader()">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputName">QUESTION</label>
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Name"
                                           name="questions">
                                    <div style="width: 35px;height: 30px;padding: 10px;margin-right: 5px;border-radius: 10px" id="mike_div" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-mic" viewBox="0 0 16 16" style="position: relative;left:4px;top: 3px;">
  <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
  <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0v5zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z"/>
</svg></div>
                                </div>
                                <div class="form-group">
                                    <label>File upload</label>
                                    <input type="file" name="image" class="file-upload-default" id="imageUpload"
                                           onchange="updateUploadedImageInfo()">
                                    <div class="input-group col-xs-12">
                                        <input type="text" class="form-control file-upload-info" disabled
                                               placeholder="Upload Image" id="uploadImageInfo">
                                        <span class="input-group-append">
              <button class="file-upload-browse btn btn-primary" type="button"
                      onclick="triggerImageUpload()">UPLOAD</button>
            </span>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <img id="imagePreview" src="#" alt="Preview"
                                         style="display: none; width: 300px; height: 300px; margin: 0 auto;">
                                </div>
                                <button type="submit" class="btn btn-primary mr-2" onclick="openPreloader()">Submit
                                </button>
                                <button class="btn btn-light">Cancel</button>
                            </form>
                        </div>
                    </div>
                {% endif %}

                </div>

            </div>
        </div>
        <!-- main-panel ends -->
    </div>
<div id="preload" class="preloader" style="display: none;">
            <div class="spinner"></div>
            <div class="loading-text" id="loadingText">Preprocessing...</div>
        </div>
    <!-- page-body-wrapper ends -->
</div>


<script>
    const loadingText = document.getElementById('loadingText');
const texts = ["Preprocessing", "Feature Extraction", "Trained model", "Fitted vectorizer", "Retrieving the answer"];
const textDuration = 5000; // 7 seconds
const totalDuration = 45000; // 45 seconds

let index = 0;
let currentDuration = 0;

function changeText() {
    loadingText.textContent = texts[index] + "...";
    index = (index + 1) % texts.length;
    currentDuration = 0;
}

function updateText() {
    currentDuration += textDuration;
    if (currentDuration >= totalDuration || index === texts.length - 1) {
        clearInterval(textChangeInterval);
        if (index !== texts.length - 1) {
            loadingText.textContent = "Loading Complete!";
            setTimeout(() => {
                document.getElementById("preload").style.display = "none";
            }, 1000); // Add a slight delay before hiding the preloader
        }
    } else {
        changeText();
    }
}

// Start changing text every 7 seconds
const textChangeInterval = setInterval(updateText, textDuration);

// Function to show the preloader
function openPreloader() {
    document.getElementById("preload").style.display = "flex";
}


</script>


<script>
    function triggerImageUpload() {
        document.getElementById('imageUpload').click();
    }

    function updateUploadedImageInfo() {
        var input = document.getElementById('imageUpload');
        var info = document.getElementById('uploadImageInfo');
        info.value = input.files[0] ? input.files[0].name : '';
    }
</script>
<script>
    var recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition || window.mozSpeechRecognition || window.msSpeechRecognition)();
recognition.lang = 'en-US';
recognition.interimResults = false;
recognition.maxAlternatives = 1;

var isListening = false;  // Flag to track if listening

// Function to start/stop recognition
function toggleListen() {
    if (isListening) {
        recognition.stop();
        isListening = false;
        console.log("yes")
    } else {
        console.log("start");
        document.getElementById("mike_div").style.backgroundColor="red";
        recognition.start();
        {#setTimeout(function() { recognition.stop(); }, 10000);#}
        isListening = true;
    }
}
if ('SpeechRecognition' in window || 'webkitSpeechRecognition' in window || 'mozSpeechRecognition' in window || 'msSpeechRecognition' in window) {
  console.log('Web Speech API is supported in this browser.');
} else {
  console.log('Web Speech API is NOT supported in this browser.');
}

recognition.onresult = function(event) {
    console.log("hello")
    var speechToText = event.results[0][0].transcript;
    document.getElementById("mike_div").style.backgroundColor="";
    document.getElementById("exampleInputName1").value=speechToText;
    recognition.stop();

}
recognition.onspeechend = function() {
    recognition.stop();
    isListening = false;
}



recognition.onerror = function(event) {
    console.log('Error occurred in recognition: ' + event.error);
}

// Add event listener to div
document.getElementById('mike_div').addEventListener('click', toggleListen);

</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#uploadImageButton').click(function () {
            $('#imageUpload').click();
        });

        $('#imageUpload').change(function () {
            var input = this;
            var info = $('#uploadImageInfo');
            info.val(input.files[0] ? input.files[0].name : '');

            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').attr('src', e.target.result).show();
                };
                reader.readAsDataURL(input.files[0]);
            }
        });
    });
</script>

<!-- plugins:js -->
<script src="{% static 'vendors/base/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/data-table.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.js' %}"></script>

<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
</script>

<script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!-- End custom js for this page-->
</body>

</html>